<div class="container d-flex flex-column justify-content-center aligh-items-center p-5">
  <div class="text-center">
    <h1 class='text-secondary'>Manage Users</h1>
  </div>
  <div class="container p-1">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Role</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
          <tbody>
            <% @admins.each_with_index do |admin,index| %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td>Random</td>
                <td><%= admin.email %></td>
                <td><%= admin.phone %></td>
                <td><%= admin.role %></td>
                <td class="text-center">
                  <button type="button" class= "btn btn-primary"><i class="far fa-eye"></i></button>
                  <%= link_to edit_admin_path(admin), class: "btn btn-success"  do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                </td>
              </tr>
            <%end %>
          </tbody>
        </table>
        <div class="text-center">
          <%= link_to "Create New Users", new_admin_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
