<div class="container-fluid p-2">
  <div class="heading text-center">
    <h5>
      Search Products
    </h5>
    <%= render partial:'products/search_form', locals: {path: new_order_path} %>
  </div>
  <table class="table table-striped p-5" id="product-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Location Name</th>
        <th scope="col">Add To Cart</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product,index| %>
        <% if !@cart.include?(product) %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.stock %></td>
            <td><%= product.price %></td>
            <td><%= product.brand.name %></td>
            <td><%= product.category.title %></td>
            <td><%= product.location_name %></td>
            <td>
              <%= button_to "Add to cart", nil, remote: true, method: :post, data: { product_id: product.id }, class:'add-to-cart-button' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
