<div class="container text-center">
  <h3>Welcome to analytics page</h3>
  <div class = 'card m-5 p-2'>
    <h3>Total Orders</h3>
    <%= line_chart Order.group_by_day(:created_at).count, xtitle: "Date", ytitle: "Orders" %>
    <button type="button" class="btn btn-primary">
      Total Orders <span class="badge badge-light"><%= Order.all.count %></span>
    </button>
  </div>
  <div class="container my-3">
    <div class="row">
      <div class = 'col-sm card mr-1'>
        <h3>Revenue Genrated</h3>
        <%= line_chart OrderItem.group_by_day(:created_at).sum(:price), xtitle: "Date", ytitle: "Orders" %>
        <button type="button" class="btn btn-primary m-2">
          Total Revenue Genrated <span class="badge badge-light"><%= OrderItem.all.sum(:price) %> Rs</span>
        </button>
      </div>
      <div class = 'col-sm card '>
        <h3>Revenure Genrated by product</h3>
        <%= pie_chart OrderItem.joins(:product).group("products.name").sum(:price), class: 'm-5' %>
        <button type="button" class="btn btn-primary m-2">
          Total Revenue Genrated <span class="badge badge-light"><%= OrderItem.all.sum(:price) %> Rs</span>
        </button>
      </div>
    </div>
    <div class = 'card m-5 p-2'>
      <h3>Quantity of Products Sold</h3>
      <%= pie_chart OrderItem.joins(:product).group("products.name").sum(:quantity), xtitle: "Date", ytitle: "Orders" %>
    </div>
  </div>
</div>
