<div class="container m-3">
  <div class="row">
    <div class="col-md-6">
      <h2>Product Details</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= @product.id %></td>
          </tr>
          <tr>
            <th>Stock</th>
            <td><%= @product.stock %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @product.description %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= number_to_currency(@product.price) %></td>
          </tr>
          <tr>
            <th>Location Name</th>
            <td><%= @product.location_name %></td>
          </tr>
          <tr>
            <th>Suppliers</th>
            <td>
              <% @product.suppliers.each do |supplier| %>
                - <%= supplier.name %><br>
              <% end %>
            </td>
          </tr>
          <tr>
            <tr>
              <th>Brand ID</th>
              <td><%= @product.brand_id %></td>
            </tr>
            <tr>
              <th>Categories</th>
              <td>
                <% @product.categories.each do |category| %>
                  - <%= category.name %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Created At</th>
              <td><%= @product.created_at.strftime('%B %d, %Y at %I:%M %p') %></td>
            </tr>
            <tr>
              <th>Updated At</th>
              <td><%= @product.updated_at.strftime('%B %d, %Y at %I:%M %p') %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to 'Back to Product', products_path, class: 'btn btn-secondary' %>
      </div>
      <div class="col-md-6 text-center">
        <% if @product.image.attached? %>
          <%= image_tag @product.image, class: 'w-50 rounded m-5' %>
        <% else %>
          <img src="/assets/Image_not_available.png" alt="image not available"  class='w-50 h-75 rounded m-5'>
        <% end %>
      </div>
    </div>
  </div>
