<div class="container d-flex flex-column justify-content-center aligh-items-center p-5">
  <div class="text-center">
    <h1 class="text-secondary">Manage Suppliers</h1>
  </div>
  <div class="text-center">
    <%= search_form_for @q, url: suppliers_path do |f| %>
      <div class = 'p-2'>
        <%= f.label :name_or_email_cont %>
        <%= f.search_field :name_or_email_cont, placeholder: 'name or email contains' %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="container p-1">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Image</th>
                <th scope="col" class="col-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @suppliers.each_with_index do |supplier,index| %>
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= supplier.name %></td>
                  <td><%= supplier.email %></td>
                  <td><%= supplier.phone %></td>
                  <td><%= supplier.address %></td>
                  <td class= 'text-center w-25'>
                    <% if supplier.image.attached? %>
                      <%= image_tag supplier.image, class: 'w-50 rounded' %>
                    <% else %>
                      <p>N/A</p>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= link_to supplier_path(supplier), class: "btn btn-primary"  do %>
                      <i class="fas fa-eye"></i>
                    <% end %>
                    <%= link_to edit_supplier_path(supplier), class: "btn btn-success #{showCss}"  do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, supplier_path(supplier), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger #{showCss}" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class='p-3'>
            <%= paginate @suppliers %>
          </div>
          <div class="text-center">
            <%= link_to "Create New Supplier", new_supplier_path, class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
